In [2]:
[10, 20, 30, 40]

[10, 20, 30, 40]

In [3]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [4]:
numbers = [17, 123]

In [5]:
empty = []

In [6]:
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

In [7]:
print(cheeses[0])

Cheddar

In [8]:
numbers = [17,123]

In [9]:
numbers[1] = 5

In [10]:
print(numbers)

[17, 5]

In [11]:
'Edam'  in cheeses

True

In [12]:
'Brie' in cheeses

False

Traversing a list

In [14]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [15]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] *2

In [16]:
for x in empty:
    print('this never happens')

In [17]:
list1= ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [18]:
len(list1)

4

In [19]:
a = [1,2,3]

In [20]:
b = [4,5,6]

In [21]:
c = a+ b

In [22]:
print(c)

[1, 2, 3, 4, 5, 6]

In [23]:
[0] * 4

[0, 0, 0, 0]